tags-input {
  display: block;
}
tags-input *,
tags-input *:before,
tags-input *:after {
  box-sizing: border-box;
}
tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
}
tags-input .host:active {
  outline: none;
}
tags-input .tags {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  height: 100%;
}
tags-input .tags input {
  width: 100%;
}
tags-input .tags.focused {
  outline: none;
}
tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
tags-input .tags .tag-item {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  height: 26px;
  line-height: 25px;
  border-radius: 3px;
}
tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0 0 0 5px;
  float: left;
  height: 26px;
}
tags-input .tags .input::-ms-clear {
  display: none;
}
tags-input[disabled] .host:focus {
  outline: none;
}
tags-input[disabled] .tags {
  cursor: default;
}
tags-input[disabled] .tags .tag-item .remove-button {
  cursor: default;
}
tags-input[disabled] .tags .input {
  cursor: default;
}
tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative;
}
tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tags-input .autocomplete .suggestion-item em {
  font-style: normal;
  font-weight: bold;
}
